{{- $versions := include "dot_local/share/lazyvim/versions.json" | fromJson -}}
{{- $version := $versions.onepassword_cli -}}
{{- $url := "" -}}{{- $sha := "" -}}{{- $ext := "" -}}
{{- if eq .chezmoi.os "linux" -}}
  {{- $url = printf "https://cache.agilebits.com/dist/1P/op2/pkg/v%s/op_linux_amd64_v%s.zip" $version $version -}}
  {{- $sha = "6fba7f376b6c6dec49f41b06408930a43ad064cce103c6a2ce5b3d0413a86434" -}}
{{- else if eq .chezmoi.os "darwin" -}}
  {{- if eq .chezmoi.arch "arm64" -}}
    {{- $url = printf "https://cache.agilebits.com/dist/1P/op2/pkg/v%s/op_darwin_arm64_v%s.zip" $version $version -}}
    {{- $sha = "05391d3388a0c0b4f602691bedc1ab368541c487b6f14d2e3399743b4682af67" -}}
  {{- else -}}
    {{- $url = printf "https://cache.agilebits.com/dist/1P/op2/pkg/v%s/op_darwin_amd64_v%s.zip" $version $version -}}
    {{- $sha = "753fbf56b00996426edbb8439d2f3c0be9227b9557cdff468fb144cd3621aa6e" -}}
  {{- end -}}
{{- else if eq .chezmoi.os "windows" -}}
  {{- /* Upstream publishes x64 only; Windows ARM64 runs it through x64 emulation. */ -}}
  {{- $ext = ".exe" -}}
  {{- $url = printf "https://cache.agilebits.com/dist/1P/op2/pkg/v%s/op_windows_amd64_v%s.zip" $version $version -}}
  {{- $sha = "38b3748d76d104469eb6e2744f843d2a7e03d1b6d330cc42d600cff379c37bab" -}}
{{- end -}}
[".local/bin/op{{ $ext }}"]
    type = "archive-file"
    url = {{ $url | quote }}
    path = "op{{ $ext }}"
    executable = true
    [".local/bin/op{{ $ext }}".checksum]
        sha256 = {{ $sha | quote }}
